.message-box {
  background: var(--background);
  height: 60vh;
  border: 1px solid var(--secondary-dark);
  border-radius: 10px 10px 0 0;
  padding: 1em;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.date {
  font-style: italic;
}

.author {
  font-weight: bold;
}

.highlight {
  background-color: yellow;
}
