<div class="form serif">
  <input
    id="name"
    type="text"
    placeholder="Enter message"
    [formControl]="input"
    autofocus
    #inputField
    (dblclick)="resetMessages()"
    (keyup)="onKeyPressEvent($event, 'input')"
  />
  <button
    id="case"
    class="button"
    [ngClass]="{ active: caseSensitive }"
    (click)="triggerCase()"
    *ngIf="messagesExist"
  >
    Aa
  </button>
  <input
    id="search"
    type="text"
    placeholder="Search"
    [formControl]="search"
    #searchField
    *ngIf="messagesExist"
    (keyup)="onKeyPressEvent($event, 'search')"
  />

  <button class="button" type="button" [disabled]="input.invalid" #button>
    Send
  </button>
</div>
