.form {
  display: flex;
}

input,
button {
  font-family: inherit;
}

input {
  width: 100%;
  border: 1px solid var(--secondary-dark);
  border-radius: 0 0 0 10px;
  padding-left: 1em;
}

button {
  width: 10%;
  min-width: 100px;
  border-radius: 0 0 10px 0;
}

#search {
  border-radius: 0;
}

#case {
  border-radius: 0;
  width: 3em;
  min-width: 3em;
}

.active {
  background-color: var(--secondary-dark);
  color: white;
}
